<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcj.dao.TrafficDao">

    <insert id="insert_traffic" parameterType="net.monitor.bean.NetstatBean">
        insert into
        traffic_monitor(IP,UpdateTime,ReceiveTraffic,ReceivePackets,ReceiveErrs,TransmitTraffic,TransmitPackets,TransmitErrs)
        values(#{ip},#{updateTime},#{receiveTraffic},#{receivePackets},#{receiveErrs},#{transmitTraffic},#{transmitPackets},#{transmitErrs})
    </insert>
</mapper>