<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://10.15.63.128:3306/process?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
                <property name="username" value="gcj" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/gcj/dzh/dao/InfoDaoMapper.xml"/>
        <mapper resource="com/gcj/dzh/dao/UserAnalysisDaoMapper.xml"/>
        <mapper resource="com/gcj/dzh/dao/TrafficDaoMapper.xml"/>
        <mapper resource="com/gcj/dzh/dao/ProcessInfoDaoMapper.xml"/>
        <mapper resource="com/gcj/dzh/dao/ServerMsgDaoMapper.xml"/>
    </mappers>
</configuration>
