.ys {
  font-family: "Kaiti", "Courier New", monospace;
  /*line-height: 150%;*/
  /*color: #ff2823;*/
  /*color: #D98719;*/
}

.body {
  font-family: "Courier New", "微软雅黑", monospace;
  font-size: 16px;
  font-weight: bold;
  /*color: #D98719;*/
}

.title {
  font-family: "Kaiti", "Courier New", monospace;
  /*line-height: 150%;*/
  /*color: #ff2823;*/
}

.help {
  font-family: "Courier New", "微软雅黑", monospace;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  font-family: "Courier New", monospace;
  font-size: 12px;
  font-weight: bold;
  /*color: #D98719;*/
}